/*Vi har brugt variabler for at sikre konsistens på sitet
og samtidig at gøre det nemt for os at rette i farver, fonte og størrelser*/
:root {
	/* Color styles */
	--text-color-primary: #fff5d7;
	--text-color-alternativ: #31c0cc;
	--background-color-primary: #35404a;
	--link-color-hover: #fd968e;

	/* Text-size styles */
	--h1-web: 85px;
	--h2-web: 40px;
	--h3-web: 20px;
	--copy-web: 20px;
	--link-web: 50px;

	--h1-tablet: 65px;
	--h2-tablet: 30px;
	--h3-tablet: 16px;
	--copy-tablet: 15px;
	--link-tablet: 40px;

	--h1-mobil: 40px;
	--link-mobil: 16px;

	/*Font*/
	/*CSS property som viser "standard" font som devicet bruger*/
	--h-font: 'midnight', sans-serif;
	--p-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

@font-face {
	font-family: 'midnight';
	src: url('/font/Blackout-Midnight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 2000px;
	background-color: var(--background-color-primary);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	position: relative;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: 'midnight', sans-serif;
	font-size: var(--h1-mobil);
	color: var(--text-color-primary);
}

h2 {
	font-family: var(--p-font);
	font-size: var(--h2-tablet);
	font-weight: bold;
	color: var(--background-color-primary);
}

h3 {
	font-family: var(--p-font);
	font-size: var(--h3-tablet);
	font-weight: bold;
	color: var(--background-color-primary);
}

p {
	font-family: var(--p-font);
	line-height: 22px;
	color: var(--text-color-primary);
	max-width: 65ch;
}

a {
	font-family: 'midnight', sans-serif;
	font-size: var(--link-tablet);
	color: var(--link-color-hover);
}

a:hover {
	text-decoration: underline;
}

@media (min-width: 500px) {
	h1 {
		font-size: var(--h1-tablet);
	}

	p {
		font-size: var(--copy-tablet);
		line-height: 25px;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: var(--h1-web);
	}

	h2 {
		font-size: var(--h2-web);
	}

	h3 {
		font-size: var(--h3-web);
	}

	p {
		font-size: var(--copy-web);
		line-height: 30px;
	}

	a {
		font-size: var(--link-web);
	}
}
