---
import MainLayout from '../mainlayout/MainLayout.astro'
---

<MainLayout>
	<section>
		<img class="baggrundimg" src="/kontakt.webp" alt="baggrunds billede" />
		<article>
			<div class="overskrift">
				<div>
					<h1>Kont</h1>
					<h1>Akt</h1>
				</div>
				<img class="grafik" src="/logo/snerleright.svg" alt="grafik logo" />
			</div>
			<div class="text">
				<div>
					<div>
						<p>Sankt Hans Gade 19</p>
						<p>2200 Nørrebro</p>
					</div>
					<div>
						<p class="tel">35 36 16 00</p>
						<p>
							<a class="linktekst" href="mailto:info@thebarkingdog.dk">info@thebarkingdog.dk</a>
						</p>
					</div>
				</div>
				<div>
					<h2>Åbningstider</h2>
					<div class="tider">
						<div>
							<p>Mandag</p>
							<p>Tirsdag</p>
							<p>Onsdag</p>
							<p>Torsdag</p>
							<p>Fredag</p>
							<p>Lørdag</p>
							<p>Søndag</p>
						</div>
						<div>
							<p>Lukket</p>
							<p>16:00-01:00</p>
							<p>16:00-01:00</p>
							<p>16:00-01:00</p>
							<p>16:00-02:00</p>
							<p>16:00-02:00</p>
							<p>Lukket</p>
						</div>
					</div>
				</div>
				<div class="linkgrafik">
					<a href="/booking">Book Bord</a>
					<img class="grafik" src="/logo/snerleleft.svg" alt="grafik logo" />
				</div>
			</div>
		</article>
	</section>
</MainLayout>

<style>
	section {
		max-height: 1200px;
		overflow: hidden;
		grid-row: 1;
		grid-column: 1;
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	article {
		background-color: var(--background-color-primary);
		height: fit-content;
		border-bottom-left-radius: 30px;
		padding: 0 50px 50px 50px;
		grid-column: 2/3;
		grid-row: 1;
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	h1 {
		line-height: 80px;
	}

	h2 {
		color: var(--text-color-primary);
	}
	.baggrundimg {
		margin-top: 13.7rem;
		grid-column: 1/3;
		grid-row: 1;
	}

	.grafik {
		width: 150px;
	}

	.overskrift {
		margin-right: 8rem;
		display: flex;
		gap: 130px;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 30px;
		opacity: 0%;
		animation-name: show;
		animation-delay: 0.5s;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	.tel {
		font-family: var(--p-font);
	}
	.linktekst {
		font-family: var(--p-font);
		font-size: var(--copy-web);
	}

	.tider {
		display: flex;
		gap: 40px;
	}

	.linkgrafik {
		display: flex;
		gap: 100px;
	}

	.linkgrafik .grafik {
		transform: rotate(180deg);
	}

	@keyframes show {
		100% {
			opacity: 100%;
		}
	}

	@media (max-width: 1200px) {
		h1 {
			line-height: 60px;
		}
		.linktekst {
			font-family: var(--p-font);
			font-size: var(--copy-tablet);
		}
	}

	@media (max-width: 1000px) {
		section {
			margin-top: 40px;
			grid-template-columns: 1fr;
		}
		article {
			gap: 0;
		}
		.baggrundimg {
			margin-top: 0;
			grid-row: 2;
		}
	}

	@media (max-width: 550px) {
		h1 {
			line-height: 40px;
		}

		.linktekst {
			font-size: var(--copy-tablet);
		}
		.overskrift {
			gap: 132px;
		}
		.linkgrafik {
			gap: 20px;
		}

		.grafik {
			width: 70px;
		}
	}
</style>
