---
import MainLayout from '../mainlayout/MainLayout.astro'
---

<MainLayout>
	<section>
		<div class="spacer"></div>
		<article>
			<div class="overskrift">
				<div>
					<h1>Om</h1>
					<h1>Baren</h1>
				</div>
				<img src="/logo/diamant.svg" alt="diamant logo" />
			</div>
			<div class="text">
				<p>
					Vi stiftede The Barking Dog i 2012, og efterfølgende vores søsterbar <a
						class="linkitekst"
						href="/#">Paloma</a
					>
				</p>
				<p>
					Efter at have boet 6 år i London, hvor pubkulturen var en kæmpe ting, synes vi København
					manglede noget som var en mellemting mellem brunt værtshus og cocktailbar; derfor valgte
					vi at skabe et koncept som vi selv havde lyst til at besøge i form af The Barking Dog.
				</p>
				<p>
					The Barking Dog er en uformel ”neighborhood bar”, placeret lige ved Sankt Hans Torv på
					Nørrebro, og det er et åbent sted for alle, stemningen er afdæmpet, med baggrundsmusik, og
					lægger op til at folk snakker sammen og hygger sig. Det var det vi gerne ville have med
					fra pubkulturen i London; det handler om det sociale og om at hænge ud med sine venner.
				</p>
				<p>
					Du kan købe alle ingredienserne fra de drinks du har smagt på The Barking Dog i vores
					dertilhørende butik <a class="linkitekst" href="/#">Shoppen</a> på Ahornsgade 22,
					Nørrebro.
				</p>
			</div>
			<a href="/booking">Book Bord</a>
		</article>
	</section>
</MainLayout>

<style>
	section {
		background-image: url(/ombarenimg.webp);
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
	}

	article {
		background-color: var(--background-color-primary);
		padding: 0 50px 50px 50px;
		margin-bottom: 180px;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 50px;
	}

	img {
		max-width: 150px;
	}

	.spacer {
		background-color: var(--background-color-primary);
		height: 220px;
		width: 80%;
	}
	.imgh1 {
		max-width: 150px;
	}

	h1 {
		line-height: 80px;
	}

	.linkitekst {
		font-size: var(--copy-web);
	}
	.overskrift {
		display: flex;
		gap: 150px;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	@media (max-width: 1200px) {
		.linkitekst {
			font-size: var(--copy-tablet);
		}

		img {
			max-width: 120px;
		}

		.overskrift {
			gap: 100px;
		}
	}
</style>
