---

---

<section class="indhold">
	<article>
		<h1>Booking</h1>
		<img src="/logo/snerleskull.svg" alt="snerle grafik" />
		<p>Book dit bord her, ved at udfylde formularen!</p>
	</article>
	<form name="Booking" method="post" netlify>
		<label for="name"> Navn</label>
		<input id="name" name="Navn" placeholder="Navn" type="text" required />
		<label for="email"> Email</label>
		<input id="email" name="Email" placeholder="Email" type="email" required />
		<label for="dato"> Dato</label>
		<input id="dato" name="Dato" placeholder="Dato" type="date" required />
		<label for="tid"> Tid</label>
		<input id="tid" name="Tid" placeholder="Tid" type="time" required />
		<label for="antal"> Antal personer</label>
		<input id="antal" name="Antal personer" placeholder="Antal personer" type="number" required />
		<textarea id="text" placeholder="Evt.bemærkninger"></textarea>
		<button type="button">SEND</button>
	</form>
</section>
<section class="tak dispno">
	<article>
		<h1>Tak for din booking</h1>
		<img src="/logo/snerleskull.svg" alt="snerle grafik" />
		<p>Vi vender tilbage hurtigt muligt!</p>
	</article>
</section>

<style>
	section {
		grid-column: 1;
		grid-row: 1;
		background-color: var(--background-color-primary);
		max-width: 550px;
		margin: 30rem 35rem 4rem 3rem;
		padding: 0 20px 80px 20px;
		border-radius: 30px;
		height: fit-content;
	}

	article {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		max-width: 200px;
	}

	h1 {
		text-align: center;
		margin-left: 8px;
	}

	.tak h1 {
		margin-top: 60px;
		line-height: 60px;
	}

	label {
		height: 1px;
		margin: -1px;
		overflow: hidden;
		position: absolute;
	}

	form {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	input {
		padding: 15px;
		border-radius: 20px;
		min-width: 95%;
		height: 40px;
		background-color: #fff5d7;
		color: #35404a;
	}

	input::placeholder {
		color: #35404a;
	}

	textarea {
		padding: 15px;
		border-radius: 20px;
		height: 150px;
		background-color: #fff5d7;
		color: #35404a;
	}

	textarea::placeholder {
		color: #35404a;
	}

	button {
		background-color: #fff5d7;
		border-radius: 20px;
		font-family: var(--h-font);
		font-size: 35px;
		color: #35404a;
	}

	.fade {
		animation-name: fade;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	@keyframes fade {
		100% {
			height: 0;
			opacity: 0;
		}
	}
	.dispno {
		display: none;
	}
	.fadein {
		opacity: 0;
		animation-name: fadein;
		animation-delay: 1s;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	@keyframes fadein {
		to {
			opacity: 100%;
		}
	}

	@media (max-width: 750px) {
		section {
			grid-row: 2;
			margin: 0 auto;
		}
	}
	@media (max-width: 500px) {
		h1 {
			padding-top: 30px;
		}

		input[type='date']:before {
			color: #35404a;
			content: attr(placeholder);
		}

		input[type='time']:before {
			color: #35404a;
			content: attr(placeholder);
		}
	}
</style>

<script>
	document.querySelector('button').addEventListener('click', animation)

	function animation() {
		document.querySelector('.indhold').classList.add('fade')
		document.querySelector('.tak').classList.remove('dispno')
		document.querySelector('.tak').classList.add('fadein')
	}
</script>
