---

---

<section>
	<article class="info">
		<div>
			<p>Sankt Hans Gade 19</p>
			<p>2200 Nørrebro</p>
			<p>CVR nr. 337779518</p>
		</div>
		<div>
			<p>+45 3536 1600</p>
			<p>info@thebarkingdog.dk</p>
		</div>
		<div>
			<p>Besøg vores søsterbar Paloma, og vores butik Shoppen</p>
			<div class="visit">
				<a href="/#">Paloma</a>
				<a href="/#">Shoppen</a>
			</div>
		</div>
	</article>
	<img class="logofooter" src="/logo/logofooter.svg" alt="The Barking Dog logo" />
	<article>
		<p>Åbningstider</p>
		<div>
			<p>Søn - man: Lukket</p>
			<p>Tir - tor: 16:00 - 01:00</p>
			<p>Fre - lør: 16:00 - 02:00</p>
			<div class="somelogo">
				<a class="logosome" href="/#"><img src="/logo/facelogo.svg" alt="Link til facebook" /></a>
				<a class="logosome" href="/#"><img src="/logo/instalogo.svg" alt="Link til Instagram" /></a>
			</div>
		</div>
	</article>

	<style>
		section {
			background-color: var(--background-color-primary);
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			justify-content: space-evenly;
			padding: 20px;
			align-items: center;
		}

		article {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		a {
			font-size: 20px;
		}

		div {
			max-width: 28ch;
		}

		.logofooter {
			width: 332px;
		}

		.somelogo {
			margin-top: 20px;
			display: flex;
			gap: 30px;
		}

		.logosome {
			width: 40px;
		}

		.visit {
			margin-top: 15px;
			display: flex;
			gap: 40px;
		}

		@media (max-width: 689px) {
			article {
				text-align: center;
			}

			.visit {
				justify-content: center;
			}

			.visit a {
				font-size: var(--link-mobile);
			}

			.somelogo {
				justify-content: center;
			}

			.logofooter {
				order: 1;
			}
		}
	</style>
</section>
