---

---

<section>
	<article class="info">
		<div>
			<p>Sankt Hans Gade 19</p>
			<p>2200 Nørrebro</p>
			<p>CVR nr. 337779518</p>
		</div>
		<div>
			<p>Tlf. 35361600</p>
			<p>
				<a class="linktekst" href="mailto:info@thebarkingdog.dk">info@thebarkingdog.dk</a>
			</p>
		</div>
		<div class="paloshop">
			<p>Besøg vores søsterbar Paloma, og vores butik Shoppen</p>
			<div class="visit">
				<a href="/#">Paloma</a>
				<a href="/#">Shoppen</a>
			</div>
		</div>
	</article>
	<img class="logofooter" src="/logo/logofooter.svg" alt="The Barking Dog logo" />
	<article>
		<p>Åbningstider</p>
		<div>
			<p>Søn - man: Lukket</p>
			<p>Tir - tor: 16:00 - 01:00</p>
			<p>Fre - lør: 16:00 - 02:00</p>
			<div class="somelogo">
				<a class="logosome" href="/#"><img src="/logo/facelogo.svg" alt="Link til facebook" /></a>
				<a class="logosome" href="/#"><img src="/logo/instalogo.svg" alt="Link til Instagram" /></a>
			</div>
		</div>
	</article>

	<style>
		section {
			background-color: var(--background-color-primary);
			display: flex;
			gap: 40px;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 30px 0;
			align-items: center;
		}

		article {
			display: flex;
			flex-direction: column;
			gap: 10px;
			text-align: center;
		}

		a {
			font-size: 13px;
		}

		div {
			max-width: 28ch;
		}

		.linktekst {
			font-family: var(--p-font);
			font-size: 16px;
			color: var(--link-color-hover);
		}

		.logofooter {
			width: 332px;
			order: 1;
		}

		.somelogo {
			margin-top: 40px;
			display: flex;
			gap: 30px;
			justify-content: center;
		}

		.logosome img {
			width: 40px;
			height: 40px;
		}

		.logosome img:hover {
			transform: scale(1.1);
		}

		.visit {
			margin-top: 5px;
			display: flex;
			gap: 40px;
			justify-content: center;
		}

		.paloshop {
			margin-top: 30px;
		}
		@media (min-width: 850px) {
			article {
				text-align: left;
			}

			.visit {
				justify-content: left;
			}

			a {
				font-size: 15px;
			}

			.somelogo {
				justify-content: left;
			}

			.logofooter {
				order: 0;
			}

			.linktekst {
				font-size: 20px;
			}
		}
	</style>
</section>
