---
const response1 = await fetch('https://vdmmsfhwyenonuczxxlg.supabase.co/rest/v1/menukort', {
	method: 'GET',
	headers: {
		apikey:
			'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkbW1zZmh3eWVub251Y3p4eGxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDIwMjU3OTQsImV4cCI6MjAxNzYwMTc5NH0.o9ue87z_nRxD0pgEX3Dfl3tS4iG8BY_1Sao3mkZcugs'
	}
})
const data = await response1.json()

import MenuIndhold from './MenuIndhold.astro'
---

<section>
	<div>
		<h1 class="colorh1">Coc</h1>
		<h1>ktai</h1>
		<h1>ls</h1>
	</div>
	{
		data.map((text) => {
			return <MenuIndhold data={text} />
		})
	}
	<img src="/logo/pil.svg" alt="Næste side" />
</section>

<style>
	section {
		position: relative;
		grid-column: 1;
		grid-row: 1;
		margin: 40rem 31rem 4rem 2rem;
		display: flex;
		flex-direction: column;
		gap: 70px;
		background-color: #fff5d7;
		max-width: 600px;
		padding: 0 20px 80px 20px;
		border-radius: 30px;
	}

	h1 {
		color: var(--background-color-primary);
		line-height: 80px;
	}
	.colorh1 {
		margin-top: 40px;
		color: var(--text-color-alternativ);
	}

	img {
		position: absolute;
		width: 8%;
		bottom: 15px;
		right: 30px;
	}

	@media (max-width: 1200px) {
		section {
			gap: 30px;
		}
		h1 {
			line-height: 60px;
		}
		.colorh1 {
			margin-top: 30px;
		}
	}

	@media (max-width: 850px) {
		section {
			margin-right: 25rem;
		}
	}

	@media (max-width: 700px) {
		section {
			max-width: 350px;
		}
	}

	@media (max-width: 750px) {
		section {
			grid-row: 2;
			margin: 15px auto 0 auto;
		}
	}

	@media (max-width: 500px) {
		h1 {
			line-height: 40px;
		}
		.colorh1 {
			margin-top: 20px;
		}
	}
</style>
