---
const { data } = Astro.props
console.log(data)
---

<article>
	<div>
		<div class="flextitle">
			<h2></h2>
			<h2></h2>
		</div>
		<h3></h3>
	</div>
	<p></p>
</article>

<style>
	article {
		display: flex;
		flex-direction: column;
	}
	p {
		color: var(--background-color-primary);
		font-size: 14px;
		line-height: 16px;
	}
	.flextitle {
		display: flex;
		justify-content: space-between;
	}
</style>
