---
const { active } = Astro.props
---

<nav>
	<img src="/logo/logonav.svg" alt="The Barking Dog logo" />
	<article>
		<a class={active} href="/ombaren">Om Baren</a><a class={active} href="/booking">Booking</a><a
			class={active}
			href="/menu">Menukort</a
		><a class={active} href="/kontakt">Kontakt</a>
	</article>
</nav>

<style>
	nav {
		display: flex;
		background-color: var(--background-color-primary);
		padding: 30px 50px;
		justify-content: space-between;
	}

	article {
		display: flex;
		gap: 40px;
	}

	img {
		width: 200px;
	}

	a {
		font-size: 35px;
	}

	a:hover {
		text-decoration: underline;
	}

	.active {
		text-decoration: underline;
	}

	@media (max-width: 1200px) {
		a {
			font-size: 30px;
		}
	}

	@media (max-width: 1000px) {
		article {
			gap: 30px;
		}

		img {
			width: 150px;
		}
		a {
			font-size: 25px;
		}
	}
	@media (max-width: 900px) {
		article {
			gap: 30px;
		}
		a {
			font-size: 20px;
		}
	}

	@media (max-width: 750px) {
	}
</style>
