---
import '../styles/mainstyles.css'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
const { title } = Astro.props
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex" />
		<meta
			name="description"
			content="The Barking Dog er en cocktailbar på Nørrebro, med fokus på agave spiritus. Kom og benyt dig af vores happy hour tilbud fra 16:00-18:00 alle dage! "
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header><Navigation {title} /></header>
		<main>
			<slot />
		</main>
		<footer><Footer /></footer>
	</body>
</html>
